.cardContainer {
  background-color: rgba(var(--background-rgb));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(var(--main-color));
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header h1 {
  font-size: 20px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  background-color: rgba(var( --main-color));
  padding: 10px;
  border-radius: 8px;
}

.buttons {
 display: flex;
 gap:5px
}


.card:hover {
  cursor: pointer;
}

.text {
  text-align: center;
  margin: 5;
}

.button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.commonButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  background-color: rgb(var(--main-color));
}

.button img {
  vertical-align: middle;
}

.button.editButton {
  background-color: #2196f3; 
  color: white;
}

.button.removeButton {
  background-color: rgba(var(--red));
  color: white;
}

.button.commonButton:hover {
  background-color: rgba(var(--main-color-hover));
}

.button.commonButton:active {
  background-color: rgba(var(--main-color-active));
}

.button:hover {
  filter: brightness(85%); 
}

.button:active {
  filter: brightness(70%);
}

.icon {
  color: white;
  height: 20px; 
  width: 20px; 
}


/*new*/

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.saveButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #45a049;
}

.cancelButton {
  background-color: rgba(var(--red));
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:hover {
  filter: brightness(85%); 
}


.confirmButton {
  background-color: #2196f3;
  color: white;
}

.confirmButton:hover {
  background-color: #1976d2;
}

.checkboxLabel {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10; /* Ensure it is above the performer content */
}

.checkbox {
  width: 20px;
  height: 20px;
}


.selected {
  filter: blur(1px);
}


.text {
  text-align: center;
  margin: 5px;
}

.addPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  opacity: 0; 
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.addPanel.enter {
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 999; /* Ensure it is behind the AddPanel */
  pointer-events: auto; /* Allow clicks to interact with the overlay */
}