.cardContainer {
  background-color: rgba(var(--background-rgb));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  border: 1px solid rgb(var(--main-color));
  border-radius: 8px;
  width: fit-content;
}

.trackerContainer{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header h1 {
  font-size: 20px;
}

.buttons {
 display: flex;
 gap:5px;
 margin: 0px 10px;
}


.commonButton{
  padding: 6px 12px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  background-color: rgb(var(--main-color));
}



.commonButton:disabled {
  background-color: rgba(var(--main-color), 0.3);
  cursor: not-allowed;
  filter: brightness(100%);
}

.commonButton:disabled:hover {
  background-color: rgba(var(--main-color), 0.3);
  filter: none;
}

.commonButton:hover {
  background-color: rgba(var(--main-color-hover));
}

.commonButton:active {
  background-color: rgba(var(--main-color-active));
}

.commonButton img {
  vertical-align: middle;
}

.commonButton.removeButton {
  background-color: rgba(var(--red));
  color: white;
}


.commonButton.editButton:hover, .commonButton.removeButton:hover{
  filter: brightness(85%);
}

.commonButton.editButton:active, .commonButton.removeButton:active{
  filter: brightness(70%);
}

.commonButton.removeButton.hidden{
  opacity: 0;
  pointer-events: none;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.tracker{
  min-width: 400px;
  border: 1px solid rgb(var(--main-color));
  border-radius: 8px;
  padding: 10px;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: rgb(var(--main-color));
  border-radius: 3px;
  overflow: hidden;
  margin: 5px 0px;
  min-width: 300px;
}

.filledBar {
  height: 100%;
  border-radius: 3px;
  background-color:rgb(var(--secondary-color));
  transition: width 0.5s ease;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap:10px;
}
.storageText{
  color: rgb(90, 90, 90);
  font-size: 13px;
  
}
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fileInfoContainer{
  margin: 10px 0px;
}

@media (prefers-color-scheme: dark) {
  .storageText {
    color:rgb(190, 190, 190)
  }
}


@media (max-width: 768px) {
  .cardContainer {
    padding: 10px;
    margin: 7px;
  }

  .card{
    padding: 5px;    
  }

  .header h1 {
    font-size: 16px;
  }

  .text{
    font-size: 14px;
  }

  .commonButton {
    padding: 4px 8px;
    font-size: 16px;
  }

  .input {
    padding: 6px;
    font-size: 16px;
  }

  .tracker{
    min-width: 100%;
  }
  .cardContainer{
    width:auto;
  }
}