.rippleButton {
  position: relative;
  overflow: hidden;
  border: none;
  cursor:pointer;
  transition: background-color 0.3s;
}

.pressable {
  position: relative;
  overflow: hidden;
  border: none;
  cursor:pointer;
  transition: background-color 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .pressable:hover {
    background-color: rgba(var(--main-color-hover));
  }

  .pressable:active {
    background-color: rgba(var(--main-color-active));
  }

  .rippleButton:hover {
    background-color: rgba(var(--main-color-hover));
  }
  
  .rippleButton:active {
    background-color: rgba(var(--main-color-active));
  }

}

.pressed {
  background-color: rgb(var(--main-color-active));
}
  
.rippleButton:focus {
  outline: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: rippleAnimation 0.5s linear;
  background-color: rgb(var(--main-color-active));
}

@keyframes rippleAnimation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
  