
.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 10px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(var(--main-color));
  }

.actionItems {
  margin-left: auto;
  display: flex;
}

.actionItemsMenu{
  flex-direction: column;
  gap:10px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdownContent{
  padding: 10px 0px;
  position: absolute;
  z-index: 1;
  background-color: rgb(var(--background-rgb));
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid rgb(var(--main-color));
  box-shadow:0 2px 4px rgba(var(--foreground-rgb), .1);
  right:0;
  width: max-content;
}

.actionItem {
  display: flex;
  align-items: center;
  margin: 0 10px;
  max-width: fit-content;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionItemMobile{
  max-width: none;
}
.link.actionItem:hover {

  background-color: rgba(var(--main-color-hover));
}

.link.actionItem:active {
  background-color: rgba(var(--main-color-active));
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
}

.changePanel{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  opacity: 0; 
  z-index: 22;
  transition: opacity 0.3s ease;
}

.changePanel.enter, .overlay.enter {
  animation: fadeIn 0.3s forwards;
}
.changePanel.exit, .overlay.exit {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  pointer-events: auto;
}

.panel {
  background: rgba(var(--background-rgb));
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.heading {
  display: flex;
  margin-bottom: 10px;
  width:auto;
  justify-content: space-between;
}

.heading h1{
  padding: 10px;
  font-weight: bold;
}
.cancelButton{
  border-radius: 5px;
  padding: 10px;
}

.errorText{
  color: rgba(var(--red));
}

.iconText {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.icon {
  margin-right:5px ;
  height: 20px; 
  width: 20px; 
}

  @media (max-width: 768px) {

    .actionItem{
      margin: 0px 5px;
      padding: 10px;
    }

    .banner {
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px; 
      padding-bottom: 10px; 
    }
  
    .iconText {
        font-size: 16px;
    }
    .icon {
        height: 16px;
        width: 16px;
    }
  }