
.videoContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    gap:10px;
    padding: 20px;
}

.videoElement {
    height: 80%;
    background: rgb(var(--main-color));
    width: fit-content;
    min-width: 500px;
    border-radius: 8px;
}

.buttonsDiv{
   display: flex;
   flex-direction: row;
   gap:10px
}


@media (max-width: 768px) {
    .videoContainer {
        padding: 10px;
    }
    
    .videoElement {
       width: 100%;
       height: fit-content;
       min-width:auto;
       max-height: 80%;
    }
}


.scbutton{
    border-radius: 5px;
    justify-content: center;
    display: flex;
    padding: 7px;
    font-size: small;
    background-color: rgb(var(--main-color-faint));
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}
