
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap:20px;
}

.videoElement {
    width: 60%; 
    max-width: 100%;
}


@media (max-width: 768px) {
    .videoElement {
        width: 90%; 
        max-width: 100%;
    }
}


.scbutton{
    background-color: rgb(var(--main-color));
    border-radius: 8px;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}


.scbutton:hover {
    background-color: rgba(var(--main-color-hover)); 
}

.scbutton:active {
    background-color: rgba(var(--main-color-active)); 
}