
.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 20px; 
    background-color: #dedede;
    /*border-radius: 8px;*/
    
  }

  .banner .item-to-start {
    margin-left: auto;
  }

  .icon_container {
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: default;
  }

  .icon_container:hover {
    cursor: pointer;
  }
  
  .icon_text {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
  }
  
  .icon {
    margin-right:5px ;
    height: 20px; 
    width: 20px; 
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {

  .banner {
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
  }

  .icon_text {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
  .icon {
      height: 13px; /* Adjust icon size for smaller screens */
      width: 13px;
  }
}