.cardContainer {
    background-color: rgba(var(--background-rgb));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(var(--main-color));
    border-radius: 8px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .header h1 {
    font-size: 20px;
  }
  
  .cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    position: relative;
    background-color: rgba(var( --main-color));
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
  }
  
  .buttons {
   display: flex;
   gap:5px
  }
  
  
  .card:hover {
    cursor: pointer;
  }
  
  
  
  .commonButton{
    padding: 6px 12px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: rgb(var(--main-color));
  }
  
  
  
  .commonButton:disabled {
    background-color: rgba(var(--main-color), 0.3);
    cursor: not-allowed;
    filter: brightness(100%);
  }
  
  .commonButton:disabled:hover {
    background-color: rgba(var(--main-color), 0.3);
    filter: none;
  }
  
  .commonButton:hover {
    background-color: rgba(var(--main-color-hover));
  }
  
  .commonButton:active {
    background-color: rgba(var(--main-color-active));
  }
  
  .commonButton img {
    vertical-align: middle;
  }
  
  
  .commonButton.editButton {
    background-color: #2196f3; 
    color: white;
  }
  
  .commonButton.removeButton {
    background-color: rgba(var(--red));
    color: white;
  }
  
  
  .commonButton.editButton:hover, .commonButton.removeButton:hover{
    filter: brightness(85%);
  }
  
  .commonButton.editButton:active, .commonButton.removeButton:active{
    filter: brightness(70%);
  }
  
  .commonButton.removeButton.hidden{
    opacity: 0;
    pointer-events: none;
  }
  .icon {
    color: white;
    height: 20px; 
    width: 20px; 
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
  }
  
  .checkboxLabel {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
  }
  
  
  .selected {
    filter: blur(1px);
  }
  
  .addPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    opacity: 0; 
    z-index: 22;
    transition: opacity 0.3s ease;
  }
  
  .addPanel.enter, .overlay.enter {
    animation: fadeIn 0.3s forwards;
  }
  .addPanel.exit, .overlay.exit {
    animation: fadeOut 0.3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    pointer-events: auto;
  }

  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      padding: 10px;
      margin: 7px;
    }
  
    .card{
      padding: 5px 10px;  
    }
  
    .header h1 {
      font-size: 16px;
    }
  
    .text{
      font-size: 14px;
    }
  
    .commonButton {
      padding: 4px 8px;
      font-size: 16px;
    }
  
    .icon {
      height: 16px;
      width: 16px;
    }
  
    .input {
      padding: 6px;
      font-size: 16px;
    }
  
    .checkbox {
      width: 16px;
      height: 16px;
    }
  
    .addPanel {
      width: 90%;
      max-width: 400px;
    }
  
  }