@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  color-scheme: light;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --main-color-faint: 240, 240, 240;
  --main-color: 222, 222, 222;
  --main-color-hover: 200, 200, 200;
  --main-color-active: 180, 180, 180;
  --secondary-color: 21, 78, 181;
  --secondary-color-hover: 17, 62, 145;
  --secondary-color-active: 14, 52, 121;
  --red: 244, 67, 54;
}

[data-theme='dark'] {
  color-scheme: dark;
  --foreground-rgb: 210, 210, 210;
  --background-rgb: 20, 20, 20;
  --main-color-faint: 50, 50, 50;
  --main-color: 50, 50, 50;
  --main-color-hover: 78, 78, 78;
  --main-color-active: 88, 88, 88;
  --secondary-color: 100, 149, 237;
  --secondary-color-hover: 70, 130, 180;
  --secondary-color-active: 60, 120, 180;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(var(--foreground-rgb));
}

th,
td {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid rgb(var(--foreground-rgb));
}

input {
  background-color: rgb(var(--main-color-faint));
}

.errorText {
  color: rgb(var(--red))
}

:root {
  --icon-filter: brightness(0);
  --icon-filter-on-accent: brightness(0) invert(1);
}

[data-theme='dark'] {
  --icon-filter: brightness(0) invert(0.82);
}

img[src^='/svg/']:not([src*='noThumbnail']) {
  filter: var(--icon-filter);
}

img[src='/icon.svg'] {
  filter: var(--icon-filter);
}