/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --main-color: 222, 222, 222; 
  --main-color-hover: 200, 200, 200;
  --main-color-active: 180, 180, 180;
  --red:244, 67, 54;
  --secondary-color: 100, 149, 237;
  --secondary-color-hover: 70, 130, 180;
  --secondary-color-active: 60, 120, 180;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-rgb: 30, 30, 30; 
    --main-color: 68, 68, 68;
    --main-color-hover: 78, 78, 78;
    --main-color-active: 88, 88, 88;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); 
}


