.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 100%;
}

.minHeight{
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(var(--foreground-rgb));
  border-top: 4px solid #0070f3; /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .loadingContainer {
    font-size: 1rem;
  }
}
  
