.mainContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 18px;
min-height: 80%;
height: fit-content;
}

.innerContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}

.loadingText{
color: #4b5563;
}

.videosContainer {
display: grid;
grid-template-columns: repeat(auto-fit, 300px);
gap: 5px 15px;
width: 100%;
justify-content: center;
align-items: start;
}
