.button_container{
    display: flex;
    margin: 10px;
    gap:10px;
    align-items: center;
}

.disabled{
    cursor: not-allowed;     
    opacity: 0.5; 
    pointer-events: none;
}

.disabled img {
    opacity: 0.5;    
  }

.button{
    background-color: rgb(var(--main-color));
    border-radius: 5px;
    width: 40px;
    height: 30px;
    justify-content: center;
    display: flex;
    padding: 0.25rem .5rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: rgba(var(--main-color-hover));
}

.button:active {
    background-color: rgba(var(--main-color-active));
}

.disabled:hover, .disabled:active {
    background-color: rgb(var(--main-color));
    transform: none; 
}


.pageSelect {
    width: 100%;
    text-align: center;
    padding: 0.25rem .5rem;
    background-color: rgb(var(--main-color));
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    appearance: none;
}
