.videoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border: 1px solid rgb(var(--main-color));
  border-radius: 5px;
  gap:5px;
  padding: 12px;
  text-align: center;
  background-color: rgb(var(--background-rgb));
  box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.1);
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: default; 
}


.videoCard:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.1);
}

.videoCard img {
  width: 100%;                 
  aspect-ratio: 16 / 9;         
  object-fit: cover;           
  border-radius: 5px;
  display: block;  
}

.videoCard h2 {
  width: 100%;                
  max-width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none !important;
}


@media (prefers-color-scheme: dark) {
  .thumbnail {
    opacity: 0.85;
  }
}


.placeholderDiv{
  height: 150px;
  width: 270px;
  background-color: rgb(var(--main-color));
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
}

.cardText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}