.videoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border: 1px solid rgb(var(--main-color));
  border-radius: 5px;
  gap:5px;
  padding: 12px;
  text-align: center;
  background-color: rgb(var(--background-rgb));
  box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.1);
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: default; 
}


.videoCard:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.1);
}

.videoCard img {
  width: 100%;
  position: relative;             
  aspect-ratio: 16 / 9;         
  object-fit: cover;           
  border-radius: 5px;
  display: block;  
}

.videoCard h2 {
  width: 100%;                
  max-width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none !important;
}

.sizeText{
  position: absolute;
  background-color: black;
  color: white;
  font-weight: normal;
  padding: .05rem .25rem;
  border-radius: .25rem;
  border: .15rem solid rgb(var(--main-color));
  opacity: 75%;
  bottom: .5rem;
  right: .5rem;
}


@media (prefers-color-scheme: dark) {
  .thumbnail {
    opacity: 0.85;
  }
}


.placeholderDiv{
  height: 152px;
  width: 270px;
  position: relative;
  background-color: rgb(var(--main-color));
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
}

@media (max-width: 480px) {
 .placeholderDiv {
    width: 100%;
    height: fit-content;
  }
  .placeholderDiv:not(:has(> img)) {
    height: 152px;
  }
}

.cardText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}