.videoCard {
  border: 1px solid rgb(var(--main-color));
  border-radius: 5px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  background-color: rgb(var(--background-rgb));
  box-shadow: 0 2px 4px rgba(var(--foreground-rgb), 0.1);
  max-width: 300px;
  width: 100%;
  transition: background-color 0.3s ease;
  overflow: hidden; 
  cursor: default; 
}

.videoCard:hover {
  cursor: pointer;
  background-color: rgba(var(--foreground-rgb), 0.1);
}

.videoCard img {
  height: 150px;
  width: 270px;
  object-fit: scale-down;
  border-radius: 5px;
  margin-bottom: 5px;
}

.videoCard h2 {
  margin: 0;
  font-size: 14px;
  text-decoration: none !important;
}


@media (prefers-color-scheme: dark) {
  .thumbnail {
    opacity: 0.85;
  }
}


.placeholderDiv{
  height: 150px;
  width: 270px;
  background-color: rgb(var(--main-color));
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
}

.cardText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}